ServidorWeb/Web References/WSNerdMoney/NerdMoney.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="consultaTodosProdutos">
        <s:complexType />
      </s:element>
      <s:element name="consultaTodosProdutosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaTodosProdutosResult" type="tns:ArrayOfProduto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="produto" nillable="true" type="tns:produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="produto">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="cod_produto" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="quantidade" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="cod_produto_ML" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultaProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codProduto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaProdutoResult" type="tns:produto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alteraProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codProduto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quant" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alteraProdutoResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluiProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codProduto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluiProdutoResponse">
        <s:complexType />
      </s:element>
      <s:element name="incluiLoja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tarifa" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="incluiLojaResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultaLoja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLoja">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Loja" nillable="true" type="tns:Loja" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loja">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cod_Loja" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="tarifa" nillable="true" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="consultaLojaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaLojaResult" type="tns:ArrayOfLoja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaTodasLojas">
        <s:complexType />
      </s:element>
      <s:element name="consultaTodasLojasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaTodasLojasResult" type="tns:ArrayOfLoja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alteraLoja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tarifa" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alteraLojaResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluiLojas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluiLojasResponse">
        <s:complexType />
      </s:element>
      <s:element name="incluiProdutoLoja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codProduto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="preco" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="incluiProdutoLojaResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultaProdutosLoja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLoja">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfproduto">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfLojaProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LojaProduto" nillable="true" type="tns:LojaProduto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LojaProduto">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cod_Produto" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Cod_Loja" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="produtoReference" type="tns:EntityReferenceOfproduto" />
              <s:element minOccurs="0" maxOccurs="1" name="LojaReference" type="tns:EntityReferenceOfLoja" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="consultaProdutosLojaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaProdutosLojaResult" type="tns:ArrayOfLojaProduto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluiLojaProdutos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codProd" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluiLojaProdutosResponse">
        <s:complexType />
      </s:element>
      <s:element name="alteraLojaProdutos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLoja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codProd" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="preco" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alteraLojaProdutosResponse">
        <s:complexType />
      </s:element>
      <s:element name="realizaVenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="v" type="tns:vendas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="vendas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_item" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_venda" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qtd" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="data" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="prod" type="tns:Produto" />
          <s:element minOccurs="1" maxOccurs="1" name="data_pagto" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="cli" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="preco" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="loja" type="tns:ArrayOfTipoLoja" />
          <s:element minOccurs="1" maxOccurs="1" name="qtd" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="id_ML" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTipoLoja">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tipoLoja" nillable="true" type="tns:tipoLoja" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tipoLoja">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tarifa" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_cod_cliente_ML" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_cod_cliente" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="realizaVendaResponse">
        <s:complexType />
      </s:element>
      <s:element name="refactorProdutoNovo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Produto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="refactorProdutoNovoResponse">
        <s:complexType />
      </s:element>
      <s:element name="Deposito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="c" type="tns:tipoCaixa" />
            <s:element minOccurs="1" maxOccurs="1" name="v" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="cc" type="tns:categ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="tipoCaixa">
        <s:restriction base="s:string">
          <s:enumeration value="Tiago" />
          <s:enumeration value="Ricardo" />
          <s:enumeration value="NerdSa" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="categ">
        <s:restriction base="s:string">
          <s:enumeration value="Correios" />
          <s:enumeration value="Papelaria" />
          <s:enumeration value="Transporte" />
          <s:enumeration value="Prejuizo" />
          <s:enumeration value="VendaProduto" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DepositoResponse">
        <s:complexType />
      </s:element>
      <s:element name="Saque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="c" type="tns:tipoCaixa" />
            <s:element minOccurs="1" maxOccurs="1" name="v" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="cc" type="tns:categ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaqueResponse">
        <s:complexType />
      </s:element>
      <s:element name="incluiTipoCaixa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="incluiTipoCaixaResponse">
        <s:complexType />
      </s:element>
      <s:element name="Saldo">
        <s:complexType />
      </s:element>
      <s:element name="SaldoResponse">
        <s:complexType />
      </s:element>
      <s:element name="saldoCaixa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="c" type="tns:tipoCaixa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saldoCaixaResponse">
        <s:complexType />
      </s:element>
      <s:element name="incluiTipoCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="incluiTipoCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="incluiCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="incluiClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="alteraCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod_cliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alteraClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluicliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod_cliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluiclienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod_cliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaClienteResult" type="tns:cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cliente">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="cod_cliente" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="endereco" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cod_cliente_ML" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="consultaTodosCliente">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cliente" nillable="true" type="tns:cliente" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultaTodosClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaTodosClienteResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
      <s:element name="produto" nillable="true" type="tns:produto" />
      <s:element name="ArrayOfLoja" nillable="true" type="tns:ArrayOfLoja" />
      <s:element name="ArrayOfLojaProduto" nillable="true" type="tns:ArrayOfLojaProduto" />
      <s:element name="cliente" nillable="true" type="tns:cliente" />
      <s:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaTodosProdutosSoapIn">
    <wsdl:part name="parameters" element="tns:consultaTodosProdutos" />
  </wsdl:message>
  <wsdl:message name="consultaTodosProdutosSoapOut">
    <wsdl:part name="parameters" element="tns:consultaTodosProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="consultaProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:consultaProduto" />
  </wsdl:message>
  <wsdl:message name="consultaProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:consultaProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="alteraProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:alteraProduto" />
  </wsdl:message>
  <wsdl:message name="alteraProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:alteraProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="excluiProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:excluiProduto" />
  </wsdl:message>
  <wsdl:message name="excluiProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:excluiProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="incluiLojaSoapIn">
    <wsdl:part name="parameters" element="tns:incluiLoja" />
  </wsdl:message>
  <wsdl:message name="incluiLojaSoapOut">
    <wsdl:part name="parameters" element="tns:incluiLojaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaLojaSoapIn">
    <wsdl:part name="parameters" element="tns:consultaLoja" />
  </wsdl:message>
  <wsdl:message name="consultaLojaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaLojaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaTodasLojasSoapIn">
    <wsdl:part name="parameters" element="tns:consultaTodasLojas" />
  </wsdl:message>
  <wsdl:message name="consultaTodasLojasSoapOut">
    <wsdl:part name="parameters" element="tns:consultaTodasLojasResponse" />
  </wsdl:message>
  <wsdl:message name="alteraLojaSoapIn">
    <wsdl:part name="parameters" element="tns:alteraLoja" />
  </wsdl:message>
  <wsdl:message name="alteraLojaSoapOut">
    <wsdl:part name="parameters" element="tns:alteraLojaResponse" />
  </wsdl:message>
  <wsdl:message name="excluiLojasSoapIn">
    <wsdl:part name="parameters" element="tns:excluiLojas" />
  </wsdl:message>
  <wsdl:message name="excluiLojasSoapOut">
    <wsdl:part name="parameters" element="tns:excluiLojasResponse" />
  </wsdl:message>
  <wsdl:message name="incluiProdutoLojaSoapIn">
    <wsdl:part name="parameters" element="tns:incluiProdutoLoja" />
  </wsdl:message>
  <wsdl:message name="incluiProdutoLojaSoapOut">
    <wsdl:part name="parameters" element="tns:incluiProdutoLojaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaProdutosLojaSoapIn">
    <wsdl:part name="parameters" element="tns:consultaProdutosLoja" />
  </wsdl:message>
  <wsdl:message name="consultaProdutosLojaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaProdutosLojaResponse" />
  </wsdl:message>
  <wsdl:message name="excluiLojaProdutosSoapIn">
    <wsdl:part name="parameters" element="tns:excluiLojaProdutos" />
  </wsdl:message>
  <wsdl:message name="excluiLojaProdutosSoapOut">
    <wsdl:part name="parameters" element="tns:excluiLojaProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="alteraLojaProdutosSoapIn">
    <wsdl:part name="parameters" element="tns:alteraLojaProdutos" />
  </wsdl:message>
  <wsdl:message name="alteraLojaProdutosSoapOut">
    <wsdl:part name="parameters" element="tns:alteraLojaProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="realizaVendaSoapIn">
    <wsdl:part name="parameters" element="tns:realizaVenda" />
  </wsdl:message>
  <wsdl:message name="realizaVendaSoapOut">
    <wsdl:part name="parameters" element="tns:realizaVendaResponse" />
  </wsdl:message>
  <wsdl:message name="refactorProdutoNovoSoapIn">
    <wsdl:part name="parameters" element="tns:refactorProdutoNovo" />
  </wsdl:message>
  <wsdl:message name="refactorProdutoNovoSoapOut">
    <wsdl:part name="parameters" element="tns:refactorProdutoNovoResponse" />
  </wsdl:message>
  <wsdl:message name="DepositoSoapIn">
    <wsdl:part name="parameters" element="tns:Deposito" />
  </wsdl:message>
  <wsdl:message name="DepositoSoapOut">
    <wsdl:part name="parameters" element="tns:DepositoResponse" />
  </wsdl:message>
  <wsdl:message name="SaqueSoapIn">
    <wsdl:part name="parameters" element="tns:Saque" />
  </wsdl:message>
  <wsdl:message name="SaqueSoapOut">
    <wsdl:part name="parameters" element="tns:SaqueResponse" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCaixaSoapIn">
    <wsdl:part name="parameters" element="tns:incluiTipoCaixa" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCaixaSoapOut">
    <wsdl:part name="parameters" element="tns:incluiTipoCaixaResponse" />
  </wsdl:message>
  <wsdl:message name="SaldoSoapIn">
    <wsdl:part name="parameters" element="tns:Saldo" />
  </wsdl:message>
  <wsdl:message name="SaldoSoapOut">
    <wsdl:part name="parameters" element="tns:SaldoResponse" />
  </wsdl:message>
  <wsdl:message name="saldoCaixaSoapIn">
    <wsdl:part name="parameters" element="tns:saldoCaixa" />
  </wsdl:message>
  <wsdl:message name="saldoCaixaSoapOut">
    <wsdl:part name="parameters" element="tns:saldoCaixaResponse" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:incluiTipoCategoria" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:incluiTipoCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="incluiClienteSoapIn">
    <wsdl:part name="parameters" element="tns:incluiCliente" />
  </wsdl:message>
  <wsdl:message name="incluiClienteSoapOut">
    <wsdl:part name="parameters" element="tns:incluiClienteResponse" />
  </wsdl:message>
  <wsdl:message name="alteraClienteSoapIn">
    <wsdl:part name="parameters" element="tns:alteraCliente" />
  </wsdl:message>
  <wsdl:message name="alteraClienteSoapOut">
    <wsdl:part name="parameters" element="tns:alteraClienteResponse" />
  </wsdl:message>
  <wsdl:message name="excluiclienteSoapIn">
    <wsdl:part name="parameters" element="tns:excluicliente" />
  </wsdl:message>
  <wsdl:message name="excluiclienteSoapOut">
    <wsdl:part name="parameters" element="tns:excluiclienteResponse" />
  </wsdl:message>
  <wsdl:message name="consultaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:consultaCliente" />
  </wsdl:message>
  <wsdl:message name="consultaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:consultaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="consultaTodosClienteSoapIn">
    <wsdl:part name="parameters" element="tns:consultaTodosCliente" />
  </wsdl:message>
  <wsdl:message name="consultaTodosClienteSoapOut">
    <wsdl:part name="parameters" element="tns:consultaTodosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="consultaTodosProdutosHttpGetIn" />
  <wsdl:message name="consultaTodosProdutosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfProduto" />
  </wsdl:message>
  <wsdl:message name="consultaProdutoHttpGetIn">
    <wsdl:part name="codProduto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaProdutoHttpGetOut">
    <wsdl:part name="Body" element="tns:produto" />
  </wsdl:message>
  <wsdl:message name="alteraProdutoHttpGetIn">
    <wsdl:part name="codProduto" type="s:string" />
    <wsdl:part name="quant" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraProdutoHttpGetOut" />
  <wsdl:message name="excluiProdutoHttpGetIn">
    <wsdl:part name="codProduto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiProdutoHttpGetOut" />
  <wsdl:message name="incluiLojaHttpGetIn">
    <wsdl:part name="tarifa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiLojaHttpGetOut" />
  <wsdl:message name="consultaLojaHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaLojaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLoja" />
  </wsdl:message>
  <wsdl:message name="consultaTodasLojasHttpGetIn" />
  <wsdl:message name="consultaTodasLojasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLoja" />
  </wsdl:message>
  <wsdl:message name="alteraLojaHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="tarifa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraLojaHttpGetOut" />
  <wsdl:message name="excluiLojasHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiLojasHttpGetOut" />
  <wsdl:message name="incluiProdutoLojaHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="codProduto" type="s:string" />
    <wsdl:part name="preco" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiProdutoLojaHttpGetOut" />
  <wsdl:message name="consultaProdutosLojaHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaProdutosLojaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLojaProduto" />
  </wsdl:message>
  <wsdl:message name="excluiLojaProdutosHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="codProd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiLojaProdutosHttpGetOut" />
  <wsdl:message name="alteraLojaProdutosHttpGetIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="codProd" type="s:string" />
    <wsdl:part name="preco" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraLojaProdutosHttpGetOut" />
  <wsdl:message name="DepositoHttpGetIn">
    <wsdl:part name="c" type="s:string" />
    <wsdl:part name="v" type="s:string" />
    <wsdl:part name="cc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DepositoHttpGetOut" />
  <wsdl:message name="SaqueHttpGetIn">
    <wsdl:part name="c" type="s:string" />
    <wsdl:part name="v" type="s:string" />
    <wsdl:part name="cc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaqueHttpGetOut" />
  <wsdl:message name="incluiTipoCaixaHttpGetIn">
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCaixaHttpGetOut" />
  <wsdl:message name="SaldoHttpGetIn" />
  <wsdl:message name="SaldoHttpGetOut" />
  <wsdl:message name="saldoCaixaHttpGetIn">
    <wsdl:part name="c" type="s:string" />
  </wsdl:message>
  <wsdl:message name="saldoCaixaHttpGetOut" />
  <wsdl:message name="incluiTipoCategoriaHttpGetIn">
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCategoriaHttpGetOut" />
  <wsdl:message name="alteraClienteHttpGetIn">
    <wsdl:part name="cod_cliente" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="end" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="tel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraClienteHttpGetOut" />
  <wsdl:message name="excluiclienteHttpGetIn">
    <wsdl:part name="cod_cliente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiclienteHttpGetOut" />
  <wsdl:message name="consultaClienteHttpGetIn">
    <wsdl:part name="cod_cliente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaClienteHttpGetOut">
    <wsdl:part name="Body" element="tns:cliente" />
  </wsdl:message>
  <wsdl:message name="consultaTodosClienteHttpGetIn" />
  <wsdl:message name="consultaTodosClienteHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCliente" />
  </wsdl:message>
  <wsdl:message name="consultaTodosProdutosHttpPostIn" />
  <wsdl:message name="consultaTodosProdutosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfProduto" />
  </wsdl:message>
  <wsdl:message name="consultaProdutoHttpPostIn">
    <wsdl:part name="codProduto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaProdutoHttpPostOut">
    <wsdl:part name="Body" element="tns:produto" />
  </wsdl:message>
  <wsdl:message name="alteraProdutoHttpPostIn">
    <wsdl:part name="codProduto" type="s:string" />
    <wsdl:part name="quant" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraProdutoHttpPostOut" />
  <wsdl:message name="excluiProdutoHttpPostIn">
    <wsdl:part name="codProduto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiProdutoHttpPostOut" />
  <wsdl:message name="incluiLojaHttpPostIn">
    <wsdl:part name="tarifa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiLojaHttpPostOut" />
  <wsdl:message name="consultaLojaHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaLojaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLoja" />
  </wsdl:message>
  <wsdl:message name="consultaTodasLojasHttpPostIn" />
  <wsdl:message name="consultaTodasLojasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLoja" />
  </wsdl:message>
  <wsdl:message name="alteraLojaHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="tarifa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraLojaHttpPostOut" />
  <wsdl:message name="excluiLojasHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiLojasHttpPostOut" />
  <wsdl:message name="incluiProdutoLojaHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="codProduto" type="s:string" />
    <wsdl:part name="preco" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiProdutoLojaHttpPostOut" />
  <wsdl:message name="consultaProdutosLojaHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaProdutosLojaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLojaProduto" />
  </wsdl:message>
  <wsdl:message name="excluiLojaProdutosHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="codProd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiLojaProdutosHttpPostOut" />
  <wsdl:message name="alteraLojaProdutosHttpPostIn">
    <wsdl:part name="codLoja" type="s:string" />
    <wsdl:part name="codProd" type="s:string" />
    <wsdl:part name="preco" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraLojaProdutosHttpPostOut" />
  <wsdl:message name="DepositoHttpPostIn">
    <wsdl:part name="c" type="s:string" />
    <wsdl:part name="v" type="s:string" />
    <wsdl:part name="cc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DepositoHttpPostOut" />
  <wsdl:message name="SaqueHttpPostIn">
    <wsdl:part name="c" type="s:string" />
    <wsdl:part name="v" type="s:string" />
    <wsdl:part name="cc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaqueHttpPostOut" />
  <wsdl:message name="incluiTipoCaixaHttpPostIn">
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCaixaHttpPostOut" />
  <wsdl:message name="SaldoHttpPostIn" />
  <wsdl:message name="SaldoHttpPostOut" />
  <wsdl:message name="saldoCaixaHttpPostIn">
    <wsdl:part name="c" type="s:string" />
  </wsdl:message>
  <wsdl:message name="saldoCaixaHttpPostOut" />
  <wsdl:message name="incluiTipoCategoriaHttpPostIn">
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="incluiTipoCategoriaHttpPostOut" />
  <wsdl:message name="alteraClienteHttpPostIn">
    <wsdl:part name="cod_cliente" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="end" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="tel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="alteraClienteHttpPostOut" />
  <wsdl:message name="excluiclienteHttpPostIn">
    <wsdl:part name="cod_cliente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="excluiclienteHttpPostOut" />
  <wsdl:message name="consultaClienteHttpPostIn">
    <wsdl:part name="cod_cliente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaClienteHttpPostOut">
    <wsdl:part name="Body" element="tns:cliente" />
  </wsdl:message>
  <wsdl:message name="consultaTodosClienteHttpPostIn" />
  <wsdl:message name="consultaTodosClienteHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCliente" />
  </wsdl:message>
  <wsdl:portType name="NerdMoneySoap">
    <wsdl:operation name="consultaTodosProdutos">
      <wsdl:input message="tns:consultaTodosProdutosSoapIn" />
      <wsdl:output message="tns:consultaTodosProdutosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <wsdl:input message="tns:consultaProdutoSoapIn" />
      <wsdl:output message="tns:consultaProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <wsdl:input message="tns:alteraProdutoSoapIn" />
      <wsdl:output message="tns:alteraProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <wsdl:input message="tns:excluiProdutoSoapIn" />
      <wsdl:output message="tns:excluiProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <wsdl:input message="tns:incluiLojaSoapIn" />
      <wsdl:output message="tns:incluiLojaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <wsdl:input message="tns:consultaLojaSoapIn" />
      <wsdl:output message="tns:consultaLojaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <wsdl:input message="tns:consultaTodasLojasSoapIn" />
      <wsdl:output message="tns:consultaTodasLojasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <wsdl:input message="tns:alteraLojaSoapIn" />
      <wsdl:output message="tns:alteraLojaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <wsdl:input message="tns:excluiLojasSoapIn" />
      <wsdl:output message="tns:excluiLojasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <wsdl:input message="tns:incluiProdutoLojaSoapIn" />
      <wsdl:output message="tns:incluiProdutoLojaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <wsdl:input message="tns:consultaProdutosLojaSoapIn" />
      <wsdl:output message="tns:consultaProdutosLojaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <wsdl:input message="tns:excluiLojaProdutosSoapIn" />
      <wsdl:output message="tns:excluiLojaProdutosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <wsdl:input message="tns:alteraLojaProdutosSoapIn" />
      <wsdl:output message="tns:alteraLojaProdutosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizaVenda">
      <wsdl:input message="tns:realizaVendaSoapIn" />
      <wsdl:output message="tns:realizaVendaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="refactorProdutoNovo">
      <wsdl:input message="tns:refactorProdutoNovoSoapIn" />
      <wsdl:output message="tns:refactorProdutoNovoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <wsdl:input message="tns:DepositoSoapIn" />
      <wsdl:output message="tns:DepositoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <wsdl:input message="tns:SaqueSoapIn" />
      <wsdl:output message="tns:SaqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <wsdl:input message="tns:incluiTipoCaixaSoapIn" />
      <wsdl:output message="tns:incluiTipoCaixaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <wsdl:input message="tns:SaldoSoapIn" />
      <wsdl:output message="tns:SaldoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <wsdl:input message="tns:saldoCaixaSoapIn" />
      <wsdl:output message="tns:saldoCaixaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <wsdl:input message="tns:incluiTipoCategoriaSoapIn" />
      <wsdl:output message="tns:incluiTipoCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiCliente">
      <wsdl:input message="tns:incluiClienteSoapIn" />
      <wsdl:output message="tns:incluiClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <wsdl:input message="tns:alteraClienteSoapIn" />
      <wsdl:output message="tns:alteraClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <wsdl:input message="tns:excluiclienteSoapIn" />
      <wsdl:output message="tns:excluiclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <wsdl:input message="tns:consultaClienteSoapIn" />
      <wsdl:output message="tns:consultaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <wsdl:input message="tns:consultaTodosClienteSoapIn" />
      <wsdl:output message="tns:consultaTodosClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NerdMoneyHttpGet">
    <wsdl:operation name="consultaTodosProdutos">
      <wsdl:input message="tns:consultaTodosProdutosHttpGetIn" />
      <wsdl:output message="tns:consultaTodosProdutosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <wsdl:input message="tns:consultaProdutoHttpGetIn" />
      <wsdl:output message="tns:consultaProdutoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <wsdl:input message="tns:alteraProdutoHttpGetIn" />
      <wsdl:output message="tns:alteraProdutoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <wsdl:input message="tns:excluiProdutoHttpGetIn" />
      <wsdl:output message="tns:excluiProdutoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <wsdl:input message="tns:incluiLojaHttpGetIn" />
      <wsdl:output message="tns:incluiLojaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <wsdl:input message="tns:consultaLojaHttpGetIn" />
      <wsdl:output message="tns:consultaLojaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <wsdl:input message="tns:consultaTodasLojasHttpGetIn" />
      <wsdl:output message="tns:consultaTodasLojasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <wsdl:input message="tns:alteraLojaHttpGetIn" />
      <wsdl:output message="tns:alteraLojaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <wsdl:input message="tns:excluiLojasHttpGetIn" />
      <wsdl:output message="tns:excluiLojasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <wsdl:input message="tns:incluiProdutoLojaHttpGetIn" />
      <wsdl:output message="tns:incluiProdutoLojaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <wsdl:input message="tns:consultaProdutosLojaHttpGetIn" />
      <wsdl:output message="tns:consultaProdutosLojaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <wsdl:input message="tns:excluiLojaProdutosHttpGetIn" />
      <wsdl:output message="tns:excluiLojaProdutosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <wsdl:input message="tns:alteraLojaProdutosHttpGetIn" />
      <wsdl:output message="tns:alteraLojaProdutosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <wsdl:input message="tns:DepositoHttpGetIn" />
      <wsdl:output message="tns:DepositoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <wsdl:input message="tns:SaqueHttpGetIn" />
      <wsdl:output message="tns:SaqueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <wsdl:input message="tns:incluiTipoCaixaHttpGetIn" />
      <wsdl:output message="tns:incluiTipoCaixaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <wsdl:input message="tns:SaldoHttpGetIn" />
      <wsdl:output message="tns:SaldoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <wsdl:input message="tns:saldoCaixaHttpGetIn" />
      <wsdl:output message="tns:saldoCaixaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <wsdl:input message="tns:incluiTipoCategoriaHttpGetIn" />
      <wsdl:output message="tns:incluiTipoCategoriaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <wsdl:input message="tns:alteraClienteHttpGetIn" />
      <wsdl:output message="tns:alteraClienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <wsdl:input message="tns:excluiclienteHttpGetIn" />
      <wsdl:output message="tns:excluiclienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <wsdl:input message="tns:consultaClienteHttpGetIn" />
      <wsdl:output message="tns:consultaClienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <wsdl:input message="tns:consultaTodosClienteHttpGetIn" />
      <wsdl:output message="tns:consultaTodosClienteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NerdMoneyHttpPost">
    <wsdl:operation name="consultaTodosProdutos">
      <wsdl:input message="tns:consultaTodosProdutosHttpPostIn" />
      <wsdl:output message="tns:consultaTodosProdutosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <wsdl:input message="tns:consultaProdutoHttpPostIn" />
      <wsdl:output message="tns:consultaProdutoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <wsdl:input message="tns:alteraProdutoHttpPostIn" />
      <wsdl:output message="tns:alteraProdutoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <wsdl:input message="tns:excluiProdutoHttpPostIn" />
      <wsdl:output message="tns:excluiProdutoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <wsdl:input message="tns:incluiLojaHttpPostIn" />
      <wsdl:output message="tns:incluiLojaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <wsdl:input message="tns:consultaLojaHttpPostIn" />
      <wsdl:output message="tns:consultaLojaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <wsdl:input message="tns:consultaTodasLojasHttpPostIn" />
      <wsdl:output message="tns:consultaTodasLojasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <wsdl:input message="tns:alteraLojaHttpPostIn" />
      <wsdl:output message="tns:alteraLojaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <wsdl:input message="tns:excluiLojasHttpPostIn" />
      <wsdl:output message="tns:excluiLojasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <wsdl:input message="tns:incluiProdutoLojaHttpPostIn" />
      <wsdl:output message="tns:incluiProdutoLojaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <wsdl:input message="tns:consultaProdutosLojaHttpPostIn" />
      <wsdl:output message="tns:consultaProdutosLojaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <wsdl:input message="tns:excluiLojaProdutosHttpPostIn" />
      <wsdl:output message="tns:excluiLojaProdutosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <wsdl:input message="tns:alteraLojaProdutosHttpPostIn" />
      <wsdl:output message="tns:alteraLojaProdutosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <wsdl:input message="tns:DepositoHttpPostIn" />
      <wsdl:output message="tns:DepositoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <wsdl:input message="tns:SaqueHttpPostIn" />
      <wsdl:output message="tns:SaqueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <wsdl:input message="tns:incluiTipoCaixaHttpPostIn" />
      <wsdl:output message="tns:incluiTipoCaixaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <wsdl:input message="tns:SaldoHttpPostIn" />
      <wsdl:output message="tns:SaldoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <wsdl:input message="tns:saldoCaixaHttpPostIn" />
      <wsdl:output message="tns:saldoCaixaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <wsdl:input message="tns:incluiTipoCategoriaHttpPostIn" />
      <wsdl:output message="tns:incluiTipoCategoriaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <wsdl:input message="tns:alteraClienteHttpPostIn" />
      <wsdl:output message="tns:alteraClienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <wsdl:input message="tns:excluiclienteHttpPostIn" />
      <wsdl:output message="tns:excluiclienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <wsdl:input message="tns:consultaClienteHttpPostIn" />
      <wsdl:output message="tns:consultaClienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <wsdl:input message="tns:consultaTodosClienteHttpPostIn" />
      <wsdl:output message="tns:consultaTodosClienteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NerdMoneySoap" type="tns:NerdMoneySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaTodosProdutos">
      <soap:operation soapAction="http://tempuri.org/consultaTodosProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <soap:operation soapAction="http://tempuri.org/consultaProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <soap:operation soapAction="http://tempuri.org/alteraProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <soap:operation soapAction="http://tempuri.org/excluiProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <soap:operation soapAction="http://tempuri.org/incluiLoja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <soap:operation soapAction="http://tempuri.org/consultaLoja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <soap:operation soapAction="http://tempuri.org/consultaTodasLojas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <soap:operation soapAction="http://tempuri.org/alteraLoja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <soap:operation soapAction="http://tempuri.org/excluiLojas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <soap:operation soapAction="http://tempuri.org/incluiProdutoLoja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <soap:operation soapAction="http://tempuri.org/consultaProdutosLoja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <soap:operation soapAction="http://tempuri.org/excluiLojaProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <soap:operation soapAction="http://tempuri.org/alteraLojaProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizaVenda">
      <soap:operation soapAction="http://tempuri.org/realizaVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refactorProdutoNovo">
      <soap:operation soapAction="http://tempuri.org/refactorProdutoNovo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <soap:operation soapAction="http://tempuri.org/Deposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <soap:operation soapAction="http://tempuri.org/Saque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <soap:operation soapAction="http://tempuri.org/incluiTipoCaixa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <soap:operation soapAction="http://tempuri.org/Saldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <soap:operation soapAction="http://tempuri.org/saldoCaixa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <soap:operation soapAction="http://tempuri.org/incluiTipoCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiCliente">
      <soap:operation soapAction="http://tempuri.org/incluiCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <soap:operation soapAction="http://tempuri.org/alteraCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <soap:operation soapAction="http://tempuri.org/excluicliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <soap:operation soapAction="http://tempuri.org/consultaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <soap:operation soapAction="http://tempuri.org/consultaTodosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NerdMoneySoap12" type="tns:NerdMoneySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaTodosProdutos">
      <soap12:operation soapAction="http://tempuri.org/consultaTodosProdutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <soap12:operation soapAction="http://tempuri.org/consultaProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <soap12:operation soapAction="http://tempuri.org/alteraProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <soap12:operation soapAction="http://tempuri.org/excluiProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <soap12:operation soapAction="http://tempuri.org/incluiLoja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <soap12:operation soapAction="http://tempuri.org/consultaLoja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <soap12:operation soapAction="http://tempuri.org/consultaTodasLojas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <soap12:operation soapAction="http://tempuri.org/alteraLoja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <soap12:operation soapAction="http://tempuri.org/excluiLojas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <soap12:operation soapAction="http://tempuri.org/incluiProdutoLoja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <soap12:operation soapAction="http://tempuri.org/consultaProdutosLoja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <soap12:operation soapAction="http://tempuri.org/excluiLojaProdutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <soap12:operation soapAction="http://tempuri.org/alteraLojaProdutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizaVenda">
      <soap12:operation soapAction="http://tempuri.org/realizaVenda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refactorProdutoNovo">
      <soap12:operation soapAction="http://tempuri.org/refactorProdutoNovo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <soap12:operation soapAction="http://tempuri.org/Deposito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <soap12:operation soapAction="http://tempuri.org/Saque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <soap12:operation soapAction="http://tempuri.org/incluiTipoCaixa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <soap12:operation soapAction="http://tempuri.org/Saldo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <soap12:operation soapAction="http://tempuri.org/saldoCaixa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <soap12:operation soapAction="http://tempuri.org/incluiTipoCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluiCliente">
      <soap12:operation soapAction="http://tempuri.org/incluiCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <soap12:operation soapAction="http://tempuri.org/alteraCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <soap12:operation soapAction="http://tempuri.org/excluicliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <soap12:operation soapAction="http://tempuri.org/consultaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <soap12:operation soapAction="http://tempuri.org/consultaTodosCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NerdMoneyHttpGet" type="tns:NerdMoneyHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="consultaTodosProdutos">
      <http:operation location="/consultaTodosProdutos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <http:operation location="/consultaProduto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <http:operation location="/alteraProduto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <http:operation location="/excluiProduto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <http:operation location="/incluiLoja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <http:operation location="/consultaLoja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <http:operation location="/consultaTodasLojas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <http:operation location="/alteraLoja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <http:operation location="/excluiLojas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <http:operation location="/incluiProdutoLoja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <http:operation location="/consultaProdutosLoja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <http:operation location="/excluiLojaProdutos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <http:operation location="/alteraLojaProdutos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <http:operation location="/Deposito" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <http:operation location="/Saque" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <http:operation location="/incluiTipoCaixa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <http:operation location="/Saldo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <http:operation location="/saldoCaixa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <http:operation location="/incluiTipoCategoria" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <http:operation location="/alteraCliente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <http:operation location="/excluicliente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <http:operation location="/consultaCliente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <http:operation location="/consultaTodosCliente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NerdMoneyHttpPost" type="tns:NerdMoneyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="consultaTodosProdutos">
      <http:operation location="/consultaTodosProdutos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProduto">
      <http:operation location="/consultaProduto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraProduto">
      <http:operation location="/alteraProduto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="excluiProduto">
      <http:operation location="/excluiProduto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiLoja">
      <http:operation location="/incluiLoja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consultaLoja">
      <http:operation location="/consultaLoja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodasLojas">
      <http:operation location="/consultaTodasLojas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alteraLoja">
      <http:operation location="/alteraLoja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="excluiLojas">
      <http:operation location="/excluiLojas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiProdutoLoja">
      <http:operation location="/incluiProdutoLoja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consultaProdutosLoja">
      <http:operation location="/consultaProdutosLoja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluiLojaProdutos">
      <http:operation location="/excluiLojaProdutos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="alteraLojaProdutos">
      <http:operation location="/alteraLojaProdutos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Deposito">
      <http:operation location="/Deposito" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Saque">
      <http:operation location="/Saque" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCaixa">
      <http:operation location="/incluiTipoCaixa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Saldo">
      <http:operation location="/Saldo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="saldoCaixa">
      <http:operation location="/saldoCaixa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="incluiTipoCategoria">
      <http:operation location="/incluiTipoCategoria" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="alteraCliente">
      <http:operation location="/alteraCliente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="excluicliente">
      <http:operation location="/excluicliente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consultaCliente">
      <http:operation location="/consultaCliente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTodosCliente">
      <http:operation location="/consultaTodosCliente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NerdMoney">
    <wsdl:port name="NerdMoneySoap" binding="tns:NerdMoneySoap">
      <soap:address location="http://sexypages.com.br/NerdMoney.asmx" />
    </wsdl:port>
    <wsdl:port name="NerdMoneySoap12" binding="tns:NerdMoneySoap12">
      <soap12:address location="http://sexypages.com.br/NerdMoney.asmx" />
    </wsdl:port>
    <wsdl:port name="NerdMoneyHttpGet" binding="tns:NerdMoneyHttpGet">
      <http:address location="http://sexypages.com.br/NerdMoney.asmx" />
    </wsdl:port>
    <wsdl:port name="NerdMoneyHttpPost" binding="tns:NerdMoneyHttpPost">
      <http:address location="http://sexypages.com.br/NerdMoney.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>